* {
  margin: 0px;
  padding: 0px;
}

.children {
  width: 100%;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.bgDark {
  position: absolute;
  background-attachment: fixed;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background: hsl(0, 2%, 10%);
}

.bgLight {
  position: absolute;
  background-attachment: fixed;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background: hsl(140, 40%, 90%);
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shapes li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(100, 100, 100, 0.25);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.shapes li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.shapes li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.shapes li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.shapes li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.shapes li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.shapes li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.shapes li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.shapes li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.shapes li:nth-child(9) {
  left: 20%;
  width: 25px;
  height: 25px;
  animation-delay: 3s;
  animation-duration: 35s;
}

.shapes li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.shapes li:nth-child(11) {
  left: 5%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 18s;
}

.shapes li:nth-child(12) {
  left: 30%;
  width: 125px;
  height: 125px;
  animation-delay: 4s;
  animation-duration: 20s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg) translateX(0);
    opacity: 1;
    border-radius: 80% 90% 90% 90%;
  }

  25% {
    border-radius: 90% 80% 90% 90%;
  }

  50% {
    border-radius: 90% 90% 80% 90%;
  }

  75% {
    border-radius: 90% 80% 90% 90%;
  }

  100% {
    transform: translateY(-900px) rotate(900deg) translateX(90px);
    opacity: 0.1;
    border-radius: 90% 90% 90% 80%;
  }
}
